

.product_title{
	font-size: 18pt;
}

.product_body{
	text-align: center;
	margin-right: 15px;
	margin-left: 15px;
	margin-top: 20px;
	margin-bottom: 20px;
	background-color: #705a53;
	width: 20%;
	border-radius: 25px;
}


.positive_button{
	background-color: #061e00;
	font-size: 15pt;
	border-style: none;
	border-radius: 5px;
	margin: 5px;
}