
body{
background-color: #e5e5e5;

}

.centered_body{
	margin-right: 0 auto;
	margin-left: 0 auto;
	text-align: center;
}

.simlpe_bg{
	background-color: #e5e5e5;
}

.center_tittle{
	font-size: 25pt;
}

.center-colum{
	width: 40%;
	font-size: 15pt;
	padding: 5px;
	margin-bottom: 3%;

}

